/* google font "inter" import link  */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* downloaded font "maima" linkup */
@font-face {
  font-family: "maima";
  src: url("../assets/miama-font/Miama.ttf");
}

.font-maima {
  font-family: "maima";
}

/* reset all default styles form all tags   */
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

/* set default styles for specific tags  */
a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  background-color: rgb(0, 0, 0);
}

/* shared or common styles */
.container {
  width: 1176.6px;
  margin: 0 auto;
}

.brand-name {
  color: #e6533c;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 120%;
}

.btn-primary {
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 18px 53px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 42px;
  background-color: inherit;
  cursor: pointer;
  transition: all 0.7s;
  margin-top: 38px;
}

.btn-primary:hover {
  border: 1px solid #e6533c;
  background-color: #e6533c;
}

.banner-badge {
  width: 215px;
  height: 108px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
}

.title {
  color: #fff;
  font-weight: 900;
  line-height: 120%;
  text-align: center;
  font-size: 3.33rem;
  text-transform: capitalize;
}
.description {
  font-size: 1rem;
  margin-top: 18px;
  text-align: center;
  line-height: 1.665rem;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.5);
}

/* header section styles  */
header {
  height: 816px;
  padding-top: 50px;
  padding-bottom: 85px;
  background-image: linear-gradient(
    0deg,
    rgba(17, 17, 17, 1),
    rgba(119, 119, 119, 0)
  );
}

/* nav section styles  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

nav > ul {
  display: flex;
  align-items: center;
  gap: 52px;
}

nav .navbar {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 12px 35px;
  border-radius: 39px;
}

nav .navbar .active {
  border: 1px solid #e6533c;
  background-color: #e6533c;
  padding: 10px 20px;
  border-radius: 46px;
}
nav .navbar .nav-item {
  transition: all 0.8s;
}

nav .navbar .nav-item:hover {
  border: 1px solid #e6533c;
  background-color: #e6533c;
  padding: 10px 20px;
  border-radius: 46px;
}

nav .navbar .nav-link {
  color: rgb(255, 255, 255);
  font-size: 1.15rem;
}

nav .ham-burger-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .ham-burger-icon .fa-bars {
  width: 27px;
  height: 27px;
  color: rgb(255, 255, 255);
}
nav .hidden {
  display: none;
}

/* banner section  */
#banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35.5px;
  gap: 30px;
}

#banner .banner-content,
#banner .banner-image {
  width: 45%;
}

#banner .banner-title {
  font-size: 5.4rem;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 31px;
}

#banner .banner-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.125rem;
  line-height: 1.665rem;
  letter-spacing: 0.5px;
}

#banner .banner-image {
  height: 660px;
  background-image: url("../assets/images/banner-image-white-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: relative;
}

#banner .promo-badge {
  position: absolute;
  top: 180px;
  right: 40px;
}

#banner .banner-badge .badge-title {
  font-size: 2.775rem;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 2.775rem;
  margin-bottom: 8px;
}
#banner .banner-badge .badge-text {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.4rem;
  color: rgba(255, 255, 255, 0.65);
}

#banner .video-badge {
  gap: 20px;
  left: -15px;
  bottom: 100px;
  position: absolute;
}

#banner .video-badge .fa-play {
  color: #fff;
  background: #e6533c;
  padding: 10px 12px;
  font-size: 1.5rem;
  border-radius: 50%;
  border: 1px solid #e6533c;
}

#banner .banner-badge .video-title {
  font-size: 1.665rem;
  font-weight: 900;
  line-height: 1.665rem;
  letter-spacing: 0.3px;
  color: rgba(250, 250, 249, 1);
}

#banner .banner-badge .video-text {
  font-size: 1.11rem;
  letter-spacing: 0.5px;
  line-height: 1.665rem;
  color: rgba(239, 237, 232, 0.65);
}

#banner .btn-group {
  display: flex;
  gap: 20px;
}

/* main section styles  */
main > section {
  margin-top: 111px;
}

/* grow-habits section styles  */
#grow-habits .habit-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 44.4px;
  margin-top: 64.4px;
}

#grow-habits .habit-cards .card {
  width: 256.41px;
  text-align: center;
}
#grow-habits .card .card-image {
  width: 100%;
  border-radius: 50%;
}
#grow-habits .card .card-title {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 120%;
  margin-top: 33.3px;
}
#grow-habits .card .description {
  line-height: 1.3rem;
  margin-top: 10px;
}

/* run-extra-mile section styles  */
#run-extra-mile .run-containerBox {
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33.3px 35.5px;
  border-radius: 18px;
  background: rgb(34, 34, 34);
}

#run-extra-mile .run-containerBox .running-content {
  width: 55%;
}

#run-extra-mile .running-content .title {
  max-width: 65%;
  text-align: left;
}
#run-extra-mile .running-content .description {
  max-width: 80%;
  text-align: left;
}

#run-extra-mile .run-containerBox .running-image {
  width: 40%;
}
#run-extra-mile .run-containerBox .running-image img {
  width: 100%;
  border-radius: 18px;
}

/* our team section styles  */
#our-team .team-gallery {
  gap: 22px;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 22px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
  margin-top: 64.4px;
}
#our-team .team-gallery figure {
  width: 362.6px;
  height: 302px;
  position: relative;
}

#our-team .team-gallery figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
}
#our-team .team-gallery figcaption {
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#our-team .team-gallery figcaption .trainer-name {
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 120%;
  margin: 0 0 8px 44.4px;
}
#our-team .team-gallery figcaption .post {
  font-size: 1rem;
  line-height: 120%;
  margin: 0 0 22.2px 44.4px;
  color: rgba(255, 255, 255, 0.5);
}

/* footer section styles  */
footer {
  margin-top: 98px;
  padding: 75px 0 40px;
  background-color: rgba(255, 255, 255, 0.1);
}

footer .footer-details {
  display: grid;
  gap: 135px;
  grid-template-columns: 1.8fr repeat(2, 1fr);
  margin-bottom: 88px;
}

footer .highting-gym .brand-name {
  font-size: 4.85rem;
  font-style: italic;
}
footer .highting-gym .description {
  text-align: left;
}
footer .service .get-start {
  font-size: 2.22rem;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 44.4px;
}

footer .links .link-item {
  margin-bottom: 22.2px;
}

footer .links .link {
  font-size: 1.3rem;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.5);
}

footer .copyright {
  font-size: 1.4rem;
  padding-top: 38.85px;
  line-height: 1.665rem;
  letter-spacing: 0.3px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  border-top: 2px solid rgba(255, 255, 255, 0.1);
}

/* responsive styles  */
/* xs devices styles  */
@media screen and (max-width: 575.98px) {
  header,
  main,
  footer {
    padding-left: 30px;
    padding-right: 30px;
  }
  .container {
    width: 100%;
  }

  .banner-badge {
    height: 73px;
    width: 156px;
  }

  .title {
    font-size: 2rem;
  }

  .description {
    text-align: justify;
  }

  /* header section  */
  header {
    height: auto;
    padding-top: 25px;
    padding-bottom: 0px;
    background-image: linear-gradient(
      0deg,
      rgba(17, 17, 17, 1),
      rgba(119, 119, 119, 0)
    );
  }

  .navbar {
    display: none;
  }

  nav .hidden {
    display: block;
  }

  /* banner section  */
  #banner {
    flex-direction: column;
  }

  #banner .banner-content,
  #banner .banner-image {
    width: 100%;
  }

  #banner .banner-title {
    font-size: 2.25rem;
  }

  #banner .banner-description {
    text-align: justify;
  }

  #banner .btn-group {
    flex-direction: column;
  }

  #banner .banner-image {
    height: 500px;
    background-size: cover;
    margin-top: 12px;
  }

  #banner .promo-badge {
    top: 120px;
    right: -15px;
  }

  #banner .banner-badge .badge-title {
    font-size: 1.8rem;
    letter-spacing: 0.76px;
    line-height: 1.8rem;
  }
  #banner .banner-badge .badge-text {
    font-size: 0.65rem;
    letter-spacing: 0.76px;
    line-height: 0.9rem;
  }

  #banner .video-badge {
    gap: 12px;
    bottom: 150px;
  }

  #banner .video-badge .fa-play {
    padding: 8px 10px;
    font-size: 0.75rem;
  }

  #banner .banner-badge .video-title {
    font-size: 1.12rem;
    line-height: 1.12rem;
    letter-spacing: 0.23px;
  }

  #banner .banner-badge .video-text {
    font-size: 0.75rem;
    letter-spacing: 0.38px;
    line-height: 1.12rem;
  }

  /* main section styles  */
  main > section {
    margin-top: 66px;
  }

  /* grow-habits section styles  */
  #grow-habits .habit-cards {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  #grow-habits .card .description {
    text-align: center;
  }

  /* run-extra-mile section styles  */
  #run-extra-mile .run-containerBox {
    padding: 30px;
    flex-direction: column;
  }

  #run-extra-mile .run-containerBox .running-content,
  #run-extra-mile .run-containerBox .running-image {
    width: 100%;
  }

  #run-extra-mile .running-content .title {
    font-size: 2rem;
    max-width: 100%;
  }
  #run-extra-mile .running-content .description {
    max-width: 100%;
    text-align: justify;
  }

  /* our team section styles  */
  #our-team .team-gallery {
    grid-template-columns: repeat(1, 1fr);
  }

  #our-team .team-gallery figure {
    width: 100%;
    height: 100%;
  }

  #our-team .team-gallery figcaption .trainer-name {
    font-size: 1.25rem;
    margin: 0 0 6px 20px;
  }
  #our-team .team-gallery figcaption .post {
    margin: 0 0 18px 20px;
  }

  /* footer section styles  */
  footer {
    margin-top: 66px;
    padding-top: 44px;
    padding-bottom: 57px;
  }

  footer .footer-details {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
    margin-bottom: 72px;
  }

  footer .highting-gym .brand-name {
    font-size: 3.375rem;
  }

  footer .highting-gym .description {
    text-align: justify;
  }

  footer .service .get-start {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  footer .links .link-item {
    margin-bottom: 18px;
  }

  footer .links .link {
    font-size: 1.12rem;
  }

  footer .copyright {
    font-size: 1.12rem;
    padding-top: 25px;
  }
}

/* sm devices styles  */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .container {
    width: 540px;
  }

  .title {
    font-size: 2rem;
  }

  .description {
    text-align: justify;
  }

  /* header section  */
  header {
    height: auto;
    padding-top: 50px;
    padding-bottom: 0px;
    background-image: linear-gradient(
      0deg,
      rgba(17, 17, 17, 1),
      rgba(119, 119, 119, 0)
    );
  }

  /* nav section styles  */
  .navbar {
    display: none;
  }

  nav .hidden {
    display: block;
  }

  /* banner section styles  */
  #banner {
    flex-direction: column;
  }

  #banner .banner-content,
  #banner .banner-image {
    width: 100%;
  }

  #banner .banner-title {
    font-size: 3.25rem;
  }

  #banner .banner-description {
    text-align: justify;
  }

  #banner .btn-group {
    flex-direction: column;
  }

  #banner .banner-image {
    height: 500px;
    background-size: contain;
    margin-top: 12px;
  }

  .banner-badge {
    height: 73px;
    width: 156px;
  }

  #banner .promo-badge {
    top: 100px;
    right: 50px;
  }

  #banner .banner-badge .badge-title {
    font-size: 1.8rem;
    letter-spacing: 0.76px;
    line-height: 1.8rem;
  }
  #banner .banner-badge .badge-text {
    font-size: 0.65rem;
    letter-spacing: 0.76px;
    line-height: 0.9rem;
  }

  #banner .video-badge {
    gap: 12px;
    left: 50px;
    bottom: 120px;
  }

  #banner .video-badge .fa-play {
    padding: 8px 10px;
    font-size: 0.75rem;
  }

  #banner .banner-badge .video-title {
    font-size: 1.12rem;
    line-height: 1.12rem;
    letter-spacing: 0.23px;
  }

  #banner .banner-badge .video-text {
    font-size: 0.75rem;
    letter-spacing: 0.38px;
    line-height: 1.12rem;
  }

  /* main section styles  */
  main > section {
    margin-top: 66px;
  }

  /* grow-habits section styles  */
  #grow-habits .habit-cards {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  #grow-habits .card .description {
    text-align: center;
  }

  /* run-extra-mile section styles  */
  #run-extra-mile .run-containerBox {
    padding: 30px;
    flex-direction: column;
  }

  #run-extra-mile .run-containerBox .running-content,
  #run-extra-mile .run-containerBox .running-image {
    width: 100%;
  }

  #run-extra-mile .running-content .title {
    font-size: 2rem;
    max-width: 100%;
  }
  #run-extra-mile .running-content .description {
    max-width: 100%;
    text-align: justify;
  }

  /* our team section styles  */
  #our-team .team-gallery {
    grid-template-columns: repeat(1, 1fr);
  }

  #our-team .team-gallery figure {
    width: 100%;
    height: 100%;
  }

  #our-team .team-gallery figcaption .trainer-name {
    font-size: 1.25rem;
    margin: 0 0 6px 20px;
  }
  #our-team .team-gallery figcaption .post {
    margin: 0 0 18px 20px;
  }

  /* footer section styles  */
  footer {
    margin-top: 66px;
    padding-top: 44px;
    padding-bottom: 57px;
  }

  footer .footer-details {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
    margin-bottom: 72px;
  }

  footer .highting-gym .brand-name {
    font-size: 4.375rem;
  }

  footer .highting-gym .description {
    text-align: justify;
  }

  footer .service .get-start {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  footer .links .link-item {
    margin-bottom: 18px;
  }

  footer .links .link {
    font-size: 1.12rem;
  }

  footer .copyright {
    font-size: 1.12rem;
    padding-top: 25px;
  }
}

/* md devices styles  */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .container {
    width: 720px;
  }

  .title {
    font-size: 3rem;
  }

  /* header section styles  */
  header {
    height: auto;
  }

  /* nav section  */
  nav .navbar {
    padding: 8px 22px;
  }

  nav .navbar .nav-link {
    font-size: 1rem;
  }

  /* banner section styles  */
  #banner {
    flex-direction: column;
  }

  #banner .banner-content,
  #banner .banner-image {
    width: 100%;
  }

  #banner .banner-title {
    font-size: 4.875rem;
  }

  #banner .video-badge {
    left: 50px;
  }

  /* main section styles  */
  main > section {
    margin-top: 84px;
  }

  /* grow-habits section styles  */
  #grow-habits .habit-cards {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  /* run-extra-mile section styles  */
  #run-extra-mile .run-containerBox {
    padding: 30px;
  }

  #run-extra-mile .run-containerBox .running-image img {
    object-fit: cover;
    height: 319px;
  }

  #run-extra-mile .running-content .title {
    font-size: 2.25rem;
    max-width: 100%;
  }
  #run-extra-mile .running-content .description {
    max-width: 100%;
  }

  /* our team section styles  */
  #our-team .team-gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  #our-team .team-gallery figure {
    width: 100%;
  }

  #our-team .team-gallery figcaption .trainer-name {
    font-size: 1.25rem;
    margin: 0 0 6px 20px;
  }
  #our-team .team-gallery figcaption .post {
    margin: 0 0 18px 20px;
  }

  /* footer section styles  */
  footer {
    margin-top: 76px;
    padding-top: 66px;
    padding-bottom: 40px;
  }

  .highting-gym {
    grid-area: highting-gym;
  }

  .service-1 {
    grid-area: service-1;
  }

  .service-2 {
    grid-area: service-2;
  }

  footer .footer-details {
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "highting-gym highting-gym"
      "service-1    service-2";
    margin-bottom: 70px;
  }

  footer .highting-gym .brand-name {
    font-size: 4.375rem;
  }

  footer .highting-gym .description {
    max-width: 80%;
  }

  footer .service .get-start {
    font-size: 2rem;
    margin-bottom: 40px;
  }

  footer .links .link-item {
    margin-bottom: 20px;
  }

  footer .links .link {
    font-size: 1.25rem;
  }

  footer .copyright {
    font-size: 1.25rem;
    padding-top: 41px;
  }
}

/* lg devices styles  */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    width: 960px;
  }

  .title {
    font-size: 3rem;
  }

  /* header section styles  */
  header {
    height: auto;
  }

  /* nav section  */
  nav .navbar {
    padding: 8px 22px;
  }

  nav .navbar .nav-link {
    font-size: 1rem;
  }

  /* banner section styles  */
  #banner {
    flex-direction: column;
  }

  #banner .banner-content,
  #banner .banner-image {
    width: 100%;
  }

  #banner .brand-name {
    font-size: 4.875rem;
  }

  #banner .promo-badge {
    right: 150px;
  }

  #banner .video-badge {
    left: 190px;
  }

  /* main section styles  */
  main > section {
    margin-top: 84px;
  }

  /* grow-habits section styles  */
  #grow-habits .habit-cards {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  /* run-extra-mile section styles  */
  #run-extra-mile .run-containerBox {
    padding: 30px;
  }

  #run-extra-mile .run-containerBox .running-image img {
    object-fit: cover;
    height: 319px;
  }

  #run-extra-mile .running-content .title {
    font-size: 2.25rem;
    max-width: 100%;
  }
  #run-extra-mile .running-content .description {
    max-width: 100%;
  }

  /* our team section styles  */
  #our-team .team-gallery figure {
    width: 100%;
  }

  #our-team .team-gallery figcaption .trainer-name {
    font-size: 1.25rem;
    margin: 0 0 6px 20px;
  }
  #our-team .team-gallery figcaption .post {
    margin: 0 0 18px 20px;
  }

  /* footer section styles  */
  footer {
    margin-top: 76px;
    padding-top: 66px;
    padding-bottom: 40px;
  }

  .highting-gym {
    grid-area: highting-gym;
  }

  .service-1 {
    grid-area: service-1;
  }

  .service-2 {
    grid-area: service-2;
  }

  footer .footer-details {
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "highting-gym highting-gym"
      "service-1    service-2";
    margin-bottom: 70px;
  }

  footer .highting-gym .brand-name {
    font-size: 4.375rem;
  }

  footer .highting-gym .description {
    max-width: 80%;
  }

  footer .service .get-start {
    font-size: 2rem;
    margin-bottom: 40px;
  }

  footer .links .link-item {
    margin-bottom: 20px;
  }

  footer .links .link {
    font-size: 1.25rem;
  }

  footer .copyright {
    font-size: 1.25rem;
    padding-top: 41px;
  }
}

/* xl devices styles  */
@media screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .container {
    width: 1140px;
  }

  /* our team section styles  */
  #our-team .team-gallery figure {
    width: 100%;
  }
}

/* xxl devices styles  */
@media screen and (min-width: 1400px) and (max-width: 1599.98px) {
  .container {
    width: 1320px;
  }
}

@media screen and (min-width: 1700px) {
  .container {
    width: 1320px;
  }
}
